@charset "utf-8";

@font-face {
    font-family: "PoetsenOne-Regular";

    src: url("../fonts/PoetsenOne-Regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/PoetsenOne-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jalnan";

    src: url("../fonts/Jalnan.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a,
a:link {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    background: white;
}



.contents_wrap {
    width: calc(100vw - 5rem);
    margin: 0 auto;
    content: '';
    overflow: hidden;
}

.inner_wrapper {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(300vh - 10rem);
}

.inner_wrapper > li {
    float: left;
}

#main {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}

header {
    position: fixed;
    width: 100%;
    height: 4rem;
    background: white;
    z-index: 3;
}

header #gnb {

    text-align: center;
    height: 4rem;
    width: 1200px;
    line-height: 4rem;
    margin: 0 auto;
    background: white;
}

header #gnb li {
    font-family: "PoetsenOne-Regular";
    font-size: 20px;
    width: 25%;
    float: left;
    text-transform: uppercase;

    transition: 0.35s;
}

header #gnb li:hover {
    background-color: #1f2343;
}

header #gnb li:hover a {
    display: block;
    color: white !important;
}


.ground {
    position: absolute;
    background: url('../images/ground.png') no-repeat 0 0 /cover;
    width: calc(1920px - 20rem);
    height: calc(557px - 4rem);
    bottom: 0;

}

.mat {
    position: absolute;
    background: url('../images/mat.png') no-repeat 0 0 /cover;
    width: calc(1331px - 5rem);
    height: calc(431px - 4rem);
    bottom: 0;
}


.cat img {
    width: calc(148px - 2.5rem);
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 22%
}

.bim img {
    position: absolute;
    z-index: 2;
    width: calc(325px - 2.5rem);
    bottom: 2%;
    left: 30%;

}

.light img {
    opacity: 0;
    position: absolute;
    width: calc(719px - 2.5rem);
    z-index: 1;
    bottom: 33%;
    left: 36%;
    animation: bim_opacity 1.5s 0.5s forwards;
    transition: 0.1s;

}

.intro {
    opacity: 0;
    position: absolute;
    font-family: "Jalnan";
    font-size: 5rem;
    text-align: right;
    left: 57%;
    top: 23%;

    letter-spacing: -5px;
    animation: text_opacity 1.2s 2s forwards;
}

.intro h3 {
    text-shadow: -1px -1px 0px #888,
        -2px -2px 0px #777;

    box-shadow: 0px 0px 25px white;
}

.intro h3 span {
    background: white;
    color: #1f2343;
    padding: 0.125rem;
    box-sizing: border-box;
}

.intro h2 {
    color: white;
    font-size: 6rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 0 #ccc,
        2px 2px 0 #c9c9c9,
        3px 3px 0 #bbb,
        4px 4px 0 #b9b9b9,
        5px 5px 0 #aaa,
        6px 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        1px 1px 3px rgba(0, 0, 0, .3),
        3px 3px 5px rgba(0, 0, 0, .2),
        5px 5px 10px rgba(0, 0, 0, .25),
        10px 10px 10px rgba(0, 0, 0, .2),
        20px 20px 20px rgba(0, 0, 0, .15);
}

#second {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: 100vh;
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}


.night {
    width:calc(100vw - 8rem);
    height:calc(100vh - 7rem);
    margin: 5.5rem auto 0;
}
.default {
    position: relative;
    width:calc(100vw - 8rem);
    height:calc(100vh - 5.5rem);
    margin: 1.5rem auto 0 ;
    background: rgba(255,255,255,.5);
    transform:scale(0);
}
.default_middle {
    position: relative;
    width:calc(100vw - 8rem);
    height:calc(100vh - 4rem);
    margin: 0 auto ;
    background: rgba(255,255,255,.5);
}
.star_wrap{
    width:100%;
    height:40%;
}
.star_wrap li{
    float:left;
    margin: 0 8% ;
    text-align: center;
}
.star_wrap li:nth-child(1){
    margin-top:6rem;
}
.star_wrap li:nth-child(2),.star_wrap li:nth-child(4){
    margin-top:9rem;
}
.star_wrap li:nth-child(3){
    margin-top:18rem;
}
.star_wrap li:nth-child(5){
    margin-top:12rem;
}
.star_wrap li h4{
    font-size:1rem;
    margin-bottom:20px;
    opacity:0;
    text-transform: uppercase;
    color:white;
}
.star{
    z-index:3;
    position: relative;
    font-size:2rem;
    text-align: center;
    color:rgba(255,255,255,.5);
    text-shadow: 0px 0px 20px rgba(255,250,157,1);
    transition:all 0.3s;
}
.star p{
    color:rgba(255,255,255,1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    font-size:1rem;
    position: absolute;
    top:50%;
    left:50%;
    opacity: 0;
    transition:opacity 0.3s;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.star:hover{
    transform: rotate(45deg) scale(2);
    text-shadow: 0px 0px 30px rgba(255,255,100,1);
}
.star:hover p{
    opacity: 1;
}
.second_cat {
    position: relative;
    width:100%;
    height:60%;
    z-index:1;
}
.second_cat img{
    bottom:0;
    left:25%;
    position: absolute;
    width: calc(404px - 2.5rem);
}


.click_top {
    position: fixed;
    width: 15px;
    height: 15px;
    top: 5rem;
    left: 50%;
    z-index: 9999;
    opacity:.3;
    transition: opacity 0.3s;
}
.click_top:hover{
    opacity: 1;
}
.click_top.page_none {
    display: none;
}

.click_bottom {
    position: fixed;
    width: 15px;
    height: 15px;
    bottom: 4rem;
    left: 50%;
    z-index: 9999;
    opacity:.3;
    transition: opacity 0.3s;
}
.click_bottom:hover{
    opacity: 1;
}
.arrow_t {
    border: solid white;
    border-width: 6px 6px 0px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.arrow_t:nth-child(1) {
    animation: click_top 1.3s 0s linear infinite;
}

.arrow_t:nth-child(2) {
    animation: click_top 1.3s 0.3s linear infinite;
    margin-top: -15px;
}

.arrow_bt {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    transition: 0.3s;


}

.arrow_bt:nth-child(1) {
    animation: click_bottom 1.3s 0.3s linear infinite;
}

.arrow_bt:nth-child(2) {
    animation: click_bottom 1.3s 0s linear infinite;
    margin-top: -15px;
}

#third {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}
.introduce{
    position: absolute;
    display: block;
    font-size:30px;
    width:200px;
    left:8%;
    top:30%;
}
.introduce li{
    margin-bottom:10px;
}
#third h1:before{
    font-size:120px;
    position: absolute;
    content: 'Profile';
    top:-5px;
    left:5px;
    color:black;
}
#third h1{
    font-family: "PoetsenOne-Regular";
    font-size:120px;
    position: absolute;
    left:8%;
    top:20%;
    transform: translateY(-50%);
    -webkit-text-stroke: 2px black;
    color:white;
}
.me{
    position: absolute;
    width:300px;
    height:300px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255,255,255,.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,.2), 2px 2px 4px rgba(0,0,0,.2);
}
.me img{
    position: absolute;
    width:250px;
    height:250px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.me h3{
    font-family: 'Arial Black';
    font-size:50px;
    position: absolute;
    font-weight: bold;
    top:50%;
    transform: translateY(-50%);
    -webkit-text-stroke: 1px #000;
    color:whitesmoke;
}
.me h3:nth-child(2){
    left:10%;
}
.me h3:nth-child(3){
    right:10%;
}

.me:hover h3{
    color:rgba(255,250,157,1);
}

.spring{
    position: absolute;
    top:50%;
    right:11%;
    transform: translateY(-40%);
    z-index: -1;
}
.spring li{
    display: inline-block;
    width:20px;
    height:200px;
    background: #777;
    margin:0 10px;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, .3);
}
.spring li:nth-child(2){
    margin-right:100px;
}

.edu,.cert{
    position: absolute;
    border-radius: 10px;
    right:5%;
    width:450px;
    height:200px;
    background: #fff;
    font-size:15px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .3);
}
.edu{
    top:20%;
}
.cert{
    top:50%;
}
.edu h2, .cert h2{
    font-family: 'Arial Black';
    font-size:60px;
}
.edu h2{
    position: absolute;
    left:5%;
    bottom:90%;
    color:white;
    -webkit-text-stroke: 1px black;
}
.cert h2{
    position: absolute;
    left:5%;
    top:80%;
    color:white;
    -webkit-text-stroke: 1px black;
}
.edu ul, .cert ul {
    position: absolute;
    top:20%;
    font-size:25px;
    left:5%;
}
.edu ul li, .cert ul li{
    margin-bottom:10px;
}
.edu ul li::after{
    font-size:15px;
}
.edu ul li:nth-child(1)::after{
    content: '2019';
}
.edu ul li:nth-child(2)::after{
    content: '2015-2019';
}
.edu ul li:nth-child(3)::after{
    content: '2012-2015';
}
.cert ul li::after{
    font-size:15px;
}
.cert ul li:nth-child(1)::after{
    content: '2019. 09';
}
.cert ul li:nth-child(2)::after{
    content: '2019. 10';
}
.cert ul li:nth-child(3)::after{
    content: '2015. 10';
}
#fourth {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}

.text_title{
    position: absolute;
    font-size:120px;
    font-family: "PoetsenOne-Regular";
    letter-spacing: -3px;
    -webkit-text-stroke: 2px black;
    color:white;
    left:8%;
    top:8%;
    
}
.text_title::before{
    position: absolute;
    top:-5px;
    left:5px;
    content: 'Portfolio';
    letter-spacing: -3px;
    color:black;
}
.pofol_box{
    position: absolute;
    top:25%;
    left:8%;
    width:650px;
    height:450px;
    background: whitesmoke;
}
.pofol_box::after{
    top:-10px;
    left:10px;
    position: absolute;
    content: '';
    width:100%;
    height:100%;
    border:2px solid black;
}
.subtitle {
    height:25px;
    line-height: 23px;
    background: black;
    color:white;
    font-size:20px;
    position: absolute;
    top:76%;
    left:38.2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    padding:3px;
    text-transform: uppercase;
}
.detail{
    position: absolute;
    left:53%;
    top:25%;
    height:2rem;
    line-height: 2rem;
    vertical-align: middle;
}
.detail .detail_star{
    font-size:2rem;
    color:rgba(255,255,255,.5);
    text-shadow: 0px 0px 20px rgba(255,250,157,1);
    display: inline-block;

}
.detail h3{
    padding-left:15px;
    display: inline-block;
    font-size:20px;
    transform: translateY(-10%);
    
}
.color { 
    margin-left:55px;
    margin-top:30px;
}
.color li{
    display: inline-block;
    width:60px;
    height:45px;
    background: #7CD2EB;
    margin-right:15px;
}
.color li:nth-child(2){
    background: #3F4041;
}
.color li:nth-child(3){
    background: #fff;
}
.detail_text{
    margin-left:55px;
    width:600px;
    font-size:20px;
}
#fifth {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}
#fifth .color li:nth-child(1){
    background: #72BE7B;
}
#fifth .color li:nth-child(2){
    background: #ECAE86;
}
#fifth .color li:nth-child(3){
    background: #DADADA;
}
#sixth {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}
#sixth .color li:nth-child(1){
    background: #60D2FF;
}
#sixth .color li:nth-child(2){
    background: #0070AA;
}
#sixth .color li:nth-child(3){
    background: #F5F2F2;
}
#fifth .subtitle {
    left:40%;
}
#sixth .subtitle{
    left:42%;
}
#last {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 4rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}
@keyframes click_top {
    0% {
        transform: translateY(100%) rotate(-45deg);
        opacity: 0;
    }

    50% {
        transform: translateY(50%) rotate(-45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(0%) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes click_bottom {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 0;
    }

    50% {
        transform: translateY(50%) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100%) rotate(45deg);
        opacity: 0;
    }
}

@keyframes bim_opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }

}

@keyframes text_opacity {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0.5
    }

    20% {
        opacity: 1
    }

    25% {
        opacity: 0.5
    }

    30% {
        opacity: 0
    }

    40% {
        opacity: 0.5;
    }

    45% {
        opaicity: 1;
    }

    100% {
        opacity: 1;
    }
}
